.wy-side-nav-search {
 background-color: #c5050c;
}

.wy-nav-top {
 background: #c5050c;
 font-family: Georgia;
}

.wy-menu-vertical {
 font-family: Georgia;
}


h1 {
 font-family: Georgia;
}
h2 {
 font-family: Georgia;
}

h3 { 
 font-family: Helvetica;
}
p {
 font-family: Helvetica;
}
